ion-content {
  --background-color: rgb(178, 120, 120);
}
.image-container {
  display: flex;
  flex-direction: column; /* Organiza las imágenes en una sola columna */
  padding: 1rem;
  gap: 1rem; /* Espacio entre imágenes */
  overflow-y: auto; /* Agrega el scroll vertical si hay muchas imágenes */
  background-color: rgb(178, 120, 120);
}

.image-item {
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Para que el corazón se posicione respecto a este div */
  background: rgb(125, 49, 49);
  border-radius: 5%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.image-text {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  color: white;
  font-weight: bold;
}

.like-icon {
  position: absolute;
  bottom: 35px;
  right: 10px;
  font-size: 32px;
  pointer-events: none;
}
