<ion-header>
  <ion-toolbar>
    <ion-title>Imágenes - {{ tipo | titlecase }}s</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="container"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
  [scrollY]="false"
>
  <div class="image-container">
    <div
      *ngFor="let img of imagenes; let i = index"
      class="image-item"
      [class.active]="i === currentIndex"
      (click)="handleDoubleTap(img)"
    >
      <div class="image-text">{{ img.nombre }} - ❤️ {{ img.likes.length }}</div>
      <img [src]="img.url" alt="{{ img.nombre }}" class="image" />
      <span class="like-icon">
        {{ img.likes.includes(usuarioActual) ? '❤️' : '🤍' }}
      </span>
      <div class="image-text">{{ img.fecha | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>
  </div>
</ion-content>
