.body {
  background-image: url("/assets/fondo-login-visual.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 300px; /* Establece un ancho mínimo */
}

h1 {
  text-align: center;
  color: rgb(69, 36, 36);
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(69, 36, 36);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.validators {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  min-height: 30px; /* Establece una altura mínima para el contenedor */
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(69, 36, 36);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(69, 36, 36);
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.button-group button {
  width: auto; /* Permite que los botones tengan un tamaño automático */
}
