ion-header {
  padding-top: 5%;
  background-color: rgb(125, 49, 49); /* Color de fondo verde */
  color: white; /* Color del texto */
}

ion-toolbar {
  padding-top: 10%;
  --background: rgb(125, 49, 49); /* Fondo del toolbar */
  --color: white; /* Color del texto en el toolbar */
}

ion-title {
  font-size: 1.5em; /* Tamaño de fuente del título */
  font-weight: bold; /* Negrita */
  text-align: center; /* Centrar el texto */
  flex: 1; /* Ocupa todo el espacio disponible */
}

ion-buttons {
  margin-left: auto; /* Alinear los botones a la derecha */
}

ion-button {
  --background: transparent; /* Fondo transparente para el botón */
  --color: white; /* Color del texto del botón */
  font-size: 1em; /* Tamaño de fuente del botón */
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: rgb(178, 120, 120);
}

.btn {
  flex: 1; /* Hace que los botones ocupen igual espacio */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s;
  --background: transparent; /* Hace que el fondo del botón sea transparente */
  border: 0px; /* Borde blanco alrededor del botón */
  border-radius: 15px; /* Curvatura en las esquinas */
}

.btn:hover {
  transform: scale(1.05); /* Efecto de hover */
}

.btn-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
  position: absolute; /* Hace que la imagen esté en el fondo */
  top: 0;
  left: 0;
  z-index: 1; /* Asegura que la imagen esté detrás del texto */
}

.btn-text {
  position: relative; /* Hace que el texto esté encima de la imagen */
  z-index: 2;
  font-size: 24px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semi-transparente para el texto */
  padding: 10px 20px;
  border-radius: 5px;
}
